:markdown
  # Repositories

  The Open Access DOI resolver currently harvests metadata from the
  following OAI-PMH base URLs:
%table.table.table-striped
  %thead
    %tr
      %th Repository
      %th Base URL
      %th Admin email
      %th DOI count
  %tbody
    - @repositories.each do |r|
      %tr
        %td= h r.name
        %td= h r.base_url
        %td= h r.admin_email
        %td= r.dois.count
