---
http_interactions:
- request:
    method: get
    uri: http://opus.bath.ac.uk/cgi/oai2?verb=ListRecords&metadataPrefix=oai_dc
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type='text/xsl'
        href='/oai2.xsl' ?>\n<OAI-PMH xmlns=\"http://www.openarchives.org/OAI/2.0/\"
        xmlns:xsi=\"http://www.w3.org/2001/XMLSchema-instance\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/
        http://www.openarchives.org/OAI/2.0/OAI-PMH.xsd\">\n  <responseDate>2013-02-25T14:02:40Z</responseDate>\n
        \ <request verb=\"ListRecords\" metadataPrefix=\"oai_dc\">http://opus.bath.ac.uk/cgi/oai2</request>\n
        \ <ListRecords>\n    <record>\n    <header>\n      <identifier>oai:opus.bath.ac.uk:103</identifier>\n
        \     <datestamp>2013-02-09T01:23:06Z</datestamp>\n      <setSpec>7374617475733D707562</setSpec>\n
        \     <setSpec>74797065733D636F6E666572656E63655F6974656D</setSpec></header>\n
        \   <metadata>\n      <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/\" xsi:schemaLocation=\"http://www.openarchives.org/OAI/2.0/oai_dc/
        http://www.openarchives.org/OAI/2.0/oai_dc.xsd\">\n        <dc:title>The rise
        of recommendation and review: a place in online library environments?</dc:title>\n
        \       <dc:creator>Jones, K</dc:creator>\n        <dc:creator>Robinson, K</dc:creator>\n
        \       <dc:description>This paper is an exploration into the issues surrounding
        the rise of recommendation and review services and whether they're of benefit
        to library users in online academic environments. Should we be taking advantage
        of this opportunity to build communities and conversations, or should this
        remain the domain of online trade and commerce? Does user generated content
        add value to our resources, or does it weaken its integrity? We take a look
        at the review and recommendation services currently available in academic
        library online environments, and explore the issues involved in adding user
        generated content to our resources, using research undertaken for our own
        pilot project entitled ‘Around the world in 80+ books’.</dc:description>\n
        \       <dc:date>2007-10-26</dc:date>\n        <dc:type>Conference or Workshop
        Items</dc:type>\n        <dc:type>PeerReviewed</dc:type>\n        <dc:format>application/pdf</dc:format>\n
        \       <dc:identifier>http://opus.bath.ac.uk/103/2/LWW7%2520JonesRobinson.pdf</dc:identifier>\n
        \       <dc:format>application/msword</dc:format>\n        <dc:identifier>http://opus.bath.ac.uk/103/6/LWW7%2520JonesRobinson.doc</dc:identifier>\n
        \       <dc:identifier>Jones, K. and Robinson, K., 2007. The rise of recommendation
        and review: a place in online library environments? In: Libraries Without
        Walls: Exploring 'anytime, anywhere' delivery of library services., 2007-09-14
        - 2007-09-18, Molyvos, Aegean Island of Lesvos.</dc:identifier>\n        <dc:relation>http://opus.bath.ac.uk/103/</dc:relation></oai_dc:dc></metadata></record>\n
        \   <record>\n    <header>\n      <identifier>oai:opus.bath.ac.uk:129</identifier>\n
        \     <datestamp>2012-11-08T08:44:52Z</datestamp>\n      <setSpec>7374617475733D707562</setSpec>\n
        \     <setSpec>74797065733D61727469636C65</setSpec></header>\n    <metadata>\n
        \     <oai_dc:dc xmlns:oai_dc=\"http://www.openarchives.org/OAI/2.0/oai_dc/\"
        xmlns:dc=\"http://purl.org/dc/elements/1.1/[...]
- request:
    method: get
    uri: http://opus.bath.ac.uk/cgi/oai2?verb=ListRecords&resumptionToken=metadataPrefix%253Doai_dc%2526offset%253D466
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: !!null 
    headers:
      content-type:
      - text/xml; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: ! "<?xml version='1.0' encoding='UTF-8'?>\n<?xml-stylesheet type='text/xsl'
        href='/oai2.xsl' ?>\n<O[...]
